body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  text-align: center;
}

.main{
  padding: 30px;
  border-radius: 20px;
  border: 1px solid gray;
}
.cont{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cont>input{
  padding: 10px;
  border-radius: 5px;
}

.cont>button{
  padding: 5px;
  border-radius: 5px;
  background-color: lightseagreen;
  color: white;
  border: none;
  cursor: pointer;
}
p>button{
  border: none;
  background-color: transparent;
  color: blue;
  cursor: pointer;
}

.social{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
}

.hid{
  display: none;
}

i{
  cursor: pointer;
}